{
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 120,
        "tabWidth": 3,
        "useTabs": false,
        "bracketSpacing": false,
        "explicitTypes": "always"
      }
    }
  ],
  "singleQuote": true
}
